[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppThread"]
	path = RcppThread
	url = https://github.com/tnagler/rcppthread
[submodule "VC2copula"]
	path = VC2copula
	url = https://github.com/tnagler/vc2copula
[submodule "VineCopula"]
	path = VineCopula
	url = https://github.com/tnagler/vinecopula
[submodule "kde1d"]
	path = kde1d
	url = https://github.com/tnagler/kde1d
[submodule "kdecopula"]
	path = kdecopula
	url = https://github.com/tnagler/kdecopula
[submodule "kdevine"]
	path = kdevine
	url = https://github.com/tnagler/kdevine
[submodule "svines"]
	path = svines
	url = https://github.com/tnagler/svines
[submodule "vinereg"]
	path = vinereg
	url = https://github.com/tnagler/vinereg
[submodule "wdm"]
	path = wdm
	url = https://github.com/tnagler/wdm-r
